/* This file will hold styles that are loaded using the same media query as the normal grid. */

#region-menu, #block-nice-menus-1{
	width: 960px;
}

#block-nice-menus-1 #nice-menu-1{
	background-color: #003366;
	margin-left: 20px;
	z-index: 100;
}

#nice-menu-1 li{
	border-top: none;
	border-bottom: none;
}

#nice-menu-1 li.menu-239.menu-path-welcome.active-trail.first.odd {
	border-right: none;
}

#nice-menu-1 li.menu-path-news{
	padding-right: 18px;
	border-right: none;
}

#nice-menu-1 li.menu-path-news.even.last{
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	width: 180px;
}

#nice-menu-1 li.menu-path-feedback-send, 
#nice-menu-1 li.menu-path-cms-feedback-survey, 
#nice-menu-1 li.menu-2502.menu-path-cms-feedback-new-tracker{
	width: 170px;
}

#nice-menu-1 li.menu-path-welcome {
 	border-left: none;
	padding-left: 15px;
}

#nice-menu-1 li.menu-path-articles, #nice-menu-1 li.menu-1607,  #nice-menu-1 li.menu-1606{
	width: 180px;
}

#block-nice-menus-1 ul.nice-menu-down .menuparent a {
  padding-right: 10px;
}

#region-branding{
	width: 960px;
	height: 135px;
}

#region-menu .main-menu a, #block-nice-menus-1 #nice-menu-1 a{
	font-size: 14pt;
}

#block-nice-menus-1 ul.nice-menu ul{
	margin-top: 20px;
}

#block-nice-menus-1 ul.nice-menu li {
	background-color: #003366;
	padding: 5px;
}

#block-views-header-block-header-slideshow{
	padding-bottom: 20px;
}

#zone-preface{
	padding-top: 5px;
}

#region-header-first{
	padding-top: 2px;
	margin-bottom: 0px;
}

#zone-postscript{
	/*margin-top: 10px;*/
}

nav.navigation ul li.menu-239.first{
	border-left: 0px;
}
nav.navigation ul li{
	border-left: 1px solid #fff ;
}

#block-nice-menus-1 ul li.menu-1599, #block-nice-menus-1 ul li.menu-path-search-node, #block-nice-menus-1 ul li.menu-path-school-map,  #block-nice-menus-1 ul li.menu-path-archive, #block-nice-menus-1 ul li.menu-path-gallery-photos, #block-nice-menus-1 ul li.menu-path-gallery-videos, #block-nice-menus-1 ul li.menu-path-school-data-visualize, #block-nice-menus-1 ul li.menu-path-summary-data-national
{
	width: 205px;

}

#block-nice-menus-1 ul li.menu-path-node-47426, #block-nice-menus-1 ul li.menu-path-front, #block-nice-menus-1 ul li.menu-path-node-47427,#block-nice-menus-1 ul li.menu-path-contact {
	width: 225px;
}

#block-nice-menus-1 ul li.menuparent.menu-path-front{
	width: auto;
}

#block-nice-menus-1 ul li:hover{
	background-color: #78AF43;
}

#block-nice-menus-1 ul li.menu-1824{
	width: 205px;	
}

#region-menu .main-menu li{
	padding: 19px 5px 16px 15px;
}

nav.navigation{
	padding: 12px 20px;
	display: none;
}

#boxes-box-box_search_school, #boxes-box-box_solve_issues_image, #boxes-box-box_sign_up_image, #boxes-box-box_send_feedback{
	padding-left: 10px;
}

#boxes-box-box_solve_issues_image, #boxes-box-box_sign_up_image, #boxes-box-box_send_feedback{
	padding-top: 30px;
}


#boxes-box-box_cms_partners{
	padding-left: 20px;
	padding-top: 40px;
	width: 380px;
}

#block-boxes-box-cms-partners h2.block-title{
	padding-top: 30px;
	padding-left: 20px;
	margin-bottom: -30px;
	font-style: italic;
	font-size: 20px;
}

#block-boxes-box-cms-partners{
	color: #fff;
	font-family: 'century gothic';
	font-size: 17px;
}

#boxes-box-box_cms_partners img{
	height: 75px;
}

#boxes-box-donate_now_image{
	padding-left: 45px;
	padding-top: 25px;
	margin-left: 55px;
}

.Block-Latest-News-Anon-Page td{
	padding: 10px;
	width: 435px;
	font-size: 15px;
	text-align: justify;
}

.Block-Latest-News-Anon-Page td.col-2.col-last{
	padding-left: 60px;
}

.Block-Latest-News-Anon-Page .latest-news-title{
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 5px;
}

#block-views-frontpage-anon-context-block .block-title {
	padding-left: 10px;
	font-family: century gothic, arial, sans-serif;
}

.Block-Latest-News-Anon-Page .read-more{
	float: right;
}

.Views-Page-News, .Page-Issues {
	font-size: 16px;
	width: 940px;
	margin-left: 0px;
	float: left;
	padding-bottom: 20px;
}

.Views-Page-News .views-row{
	min-height: 260px;
	padding-top: 10px;
}

.Page-Issues .views-row{
	min-height: 180px;
}

.Views-Page-News .views-field-title, .Page-Issues .views-field-title{
	padding: 5px;
	font-size: 17px;
	background-color: #003366;
	font-weight: bold;
	color: #fff;
}

.Views-Page-News .blog-title{
	padding: 5px;
	font-size: 17px;
	background-color: #d26028;
	font-weight: bold;
	color: #fff;
}

.Views-Page-News div.read-more{
	float: right;
}

.Views-Page-News div.read-more a{
	text-decoration: none;
}


.node-issue #field-slideshow-1-wrapper{
	float: right;
}


.node-issue {
	font-size: 15px;
}

.node-issue .field-name-body{
	padding: 10px 0px 10px 0px;
}

.Views-Page-News .views-field-body {
	font-size: 15px;
	padding-top: 10px;
}

.Views-Page-News .views-field-body .field-content {
	font-size: 15px;
	padding-left: 10px;
}

.Page-Issues .views-field-body {
	padding-top: 10px;
	margin-bottom: 3px;
}

.delta-node-body{
	font-size: 14px;
	/*	text-align: justify; */
}

.delta-node-body #page-title{
	font-size: 17px;
	font-family: century gothic, arial, sans-serif;
}

#zone-content #page-title{
	border-bottom: solid #000 1px;
	font-size: 30px;
	font-family: century gothic, arial, sans-serif;
	text-align: left;
}

#contact-site-form{
	padding: 15px;
	border: 1px solid grey;
	width: 420px;
}

#breadcrumb{
	padding-top:10px;
	padding-bottom: 10px;
}

/* School Info Pages 
legend span.fieldset-legend{
 height: 150px; 
 background-image: url("/sites/checkmyschool.dev/files/site-images/Search-Icon.png") no-repeat; 
}
*/
.search-form {
	margin-left: 200px;
}

#boxes-box-box_school_info_search_top_image{
	width: 200px;
	margin-left: 200px;
	height: 150px;
	margin-bottom: 0px;
}

.search-form  .fieldset-legend{
	font-size: 30px;
	padding-left: 100px;
}

.search-form  label{
}

.schoolinfo-page-template h2{
	font-size: 30px;
	font-family: century gothic, arial, sans-serif;
	background-color: #569a13;
	padding-left: 20px;
	color: #fff;
	margin-left: -10px;
	width: 940px;
}

.schoolinfo-page-template .search-results a{
	font-size: 20px;
	font-family: century gothic, arial, sans-serif;
	padding-left: 10px;

}

.schoolinfo-page-template ul{
	font-family: century gothic, arial, sans-serif;
	padding-left: 20px;

}

.schoolinfo-page-template .search-results title{
	padding-left: 5px;
}

.schoolinfo-page-template .search-results .search-snippet-info{
	display: none;
}

.search-form input#edit-keys.form-text{
	width: 450px;
	display: inline;
}

#boxes-box-school_info_bottom_buttons ul li{
	display: inline;
}

#boxes-box-box_archive_box ul li{
	display: inline;
}

#boxes-box-school_info_bottom_buttons{
	width: 710px;
	padding-left: 120px;
	padding-top: 20px;
}

/* Feedback Section */
#boxes-box-box_send_feedback_right{
	font-size: 16px;
	padding-left: 20px; 
}

#block-cms-embed-feedback-form #feedback-node-form{
	padding: 10px;
	border: 1px black solid;
}

.delta-node-body #page-title{
	width: 940px;
}

#boxes-box-box_create_feedback_page_right{
	float: right;
	margin-top: -35px;	
}

.node-type-school .block-cck-blocks{
	font-size: 16px;
	padding-bottom: 5px;
}

input#edit-search-block-form--2.form-text{
	width: 350px;
}
/* login block on top */

.usericon{
	display: inline;
	float: left;
	width: 120px;
	padding-right: 10px;
}

#loginbar .form-submit{
	float: left;
	margin-top: -35px;
	margin-left: 330px;
}

.passicon input#edit-pass.form-text{
	margin-top: 13px;
}

.page-user .passicon input#edit-pass--2{
	margin-top: 13px;
}

.page-user-register #edit-field-volunteer-school-und-0-target-id{
	width: 400px;
}

.page-user-register .description{
	width: 400px;
}

.Search-Panel{
	padding-top: 10px;
}

.userregister{
	float: left;
	padding-right: 10px;
	margin-top: 15px;
}

#block-cms-school-page-menu {
	z-index: -100;
	margin-bottom: -100px;
	margin-top: 10px;
	float: left;
	margin-left: 200px;
}

.Block-Data-School-Name .Block-Data-School-Name-Title{
	border-bottom: solid #000 1px;
	font-size: 30px;
	font-family: century gothic, arial, sans-serif;
	text-align: left;
	font-weight: bold;
	width: 940px;
}

#school-page-menu ul{
	width: 570px;
}

.node-news img{
	float: left;
	padding: 10px;
}

.Page-Photo{
	padding-left: 20px;
	padding-right: 20px;
}


.Page-Photo .item-list .pager{
	margin-bottom: 50px;
}

.Page-CMS-Photos td, .Page-CMS-Photos th {
	vertical-align: top;
}

.Page-Photo h3{
	float: left;
}

.Page-Photo #add-button{
	z-index: 10;
	padding-top: inherit;
	float: left;
}


.Views-Feedbacks-Block .jcarousel-skin-default .jcarousel-clip-horizontal {
	width: 720px;
	height: 300px;
}

.Views-Feedbacks-Block  .jcarousel-skin-default .jcarousel-container-horizontal {
	width: 720px;
	height: 300px;
}


.jcarousel-skin-default .jcarousel-item-horizontal {
	margin: 0 4px;
	height: 250px;
	padding-top: 10px;
}

.jcarousel-skin-default .jcarousel-item {
	padding: 2px;
	overflow: hidden;
	border: none;
	list-style: none;
	background: #fff none;
}

.jcarousel-skin-default .jcarousel-item  a{
	text-decoration: none;
}

.node-type-webform .webform-client-form{

	padding-bottom: 20px;

}

.delta-node-body #page-title {
width: 940px;
}

.Page-CMS-Photos table {
	/*border: solid 1px rgb(204, 204, 204);*/
	border: none;
	width: 640px;
	margin-left: 150px;
}

.Page-CMS-Photos .view-content{
	/*border: solid 1px rgb(204, 204, 204);*/
	/*padding-top: 20px;*/
	padding-bottom: 20px;
}

.Page-CMS-Photos img{
	vertical-align: none;
	padding: 2px;
}

.Page-CMS-Photos #school-photos-image{
	padding-left: 220px;
}

div#header-image{
	width: 960px;
	float: left;
	padding-top: 10px;
}

.Page-CMS-Photos p.school-label{
	padding: 5px;
	font-size: 17px;
	background-color: #003366;
	font-weight: bold;
	float: left;
	width: 930px;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 0px;
}

#block-quicktabs-gallery-photo-tabs a{
	font-size: 25px;
	text-decoration: none;
	font-weight: bold;
}

.page-gallery-photos ul.tabs.secondary.clearfix, .page-gallery-videos ul.tabs.secondary.clearfix{
	display: none;
}

.node-type-video .field-name-field-video-url {
	padding: 10px 10px 10px 0px;
}

.node-type-video footer.submitted{
	padding-top: 10px;
}

.Views-Page-News p{
	padding-top: 15px;
}


.Views-Page-News .views-field-field-image{
	float: left;
	padding-top: 10px;
}

.node-type-article .field-name-field-image img {
	float: left;
	padding-right: 10px;
	padding-top: 10px;
}

#boxes-box-box_archive_box ul{
	padding-left: 65px;
}
/*
#quicktabs-archive ul.quicktabs-tabs.quicktabs-style-zen{
	display: none;
}
*/

#quicktabs-tab-archive-0, #quicktabs-tab-archive-1, #quicktabs-tab-archive-2, #quicktabs-tab-archive-3{
	display: none;
}

#quicktabs-archive{
	margin-top: -25px;
}

#quicktabs-container-archive ul.quicktabs-tabs.quicktabs-style-zen{
	margin-left: 40px;
}

#quicktabs-archive .quicktabs-tabpage{
	width: 780px;
	margin-left: 40px;				
}

#boxes-box-box_archive_box img:hover, #block-boxes-school-info-bottom-buttons img:hover{
	opacity: 1;
}

#boxes-box-box_archive_box img#elem-data.active, #boxes-box-box_archive_box img#hs-data.active, #boxes-box-box_archive_box img#region-data.active, #boxes-box-box_archive_box img#misc-data.active {
	opacity: 1;
}


#boxes-box-box_archive_box img, #block-boxes-school-info-bottom-buttons img{
	opacity:0.6;
}

.context-issue .field-slideshow {
	padding-left: 20px;
}

.page-school-data #school-page-menu{
	margin-bottom: 70px;
}

/* FRONT */

.front img:hover{
	opacity: 0.8;
}

.view-display-id-block_cms_survey {
	padding-top: 30px;
	color: #fff;
	font-size: larger;
	
}

.Block-CMS-Survey{
	padding-left: 40px;
	width: 210px;px;
}

.Block-CMS-Survey label {
	margin-right: 70px;
}

.Block-CMS-Survey .webform-container-inline div.form-item {
	margin-right: -60px;
}

/* Forum Page */
#block-boxes-box-forum-top img:hover{
	opacity: 0.8;
}


#block-boxes-box-forum-top {
	background-color: #e7eff9;
	margin-left: -10px;
	padding: 10px;
	width: 	940px;
	margin-bottom: 20px;
	margin-top: -20px;
}

.page-forum .action-links{
	display: none;
}

#block-forum-new{
	margin-top: 257px;
	background-color: #e7eff9;
}

#block-forum-new h2.block-title{
/*	background: url("/sites/checkmyschool.dev/files/site-images/recent-forum-topic-title.png") no-repeat;*/
	font-size: 16px;
	font-family: Century Gothic;
	padding-left: 25px;
}

.page-forum #forum thead th{
	background-color: #e7eff9;
}

.context-forums h1#page-title.title{
	width: 960px;
	margin-left: -10px;
	padding-left: 10px;
}

.node-type-webform article .webform-client-form{
	padding: 10px;
	border: 1px solid #CCC;
}

/* Heroes */

.Page-CMS-Heroes .cms-hero-image{
	float: left;
	padding-right: 20px;
	min-height: 180px;
}

.Page-CMS-Heroes .views-row{
	min-height: 180px;
	border: 1px solid grey;
	padding: 10px;
}

.Page-CMS-Heroes .cms-award, .Page-CMS-Heroes .views-field-title{
	font-size: 20px;
	font-weight: bold;
}

.Page-CMS-Heroes h3{
	font-family: 'century gothic', arial, sans-serif;
}

.node-type-cms-hero .field-name-field-hero-image{
	float: left;
	padding-right: 20px;
}

.node-type-cms-hero  .field-name-field-hero-position, .node-type-cms-hero .field-name-field-hero-award{
	font-size: 20px;
}

.node-type-cms-hero .field-name-body{
	padding-top: 20px;
}

/* Volunteer Registration */
#edit-field-user-joined-cms- textarea{
	width: 400px;
}

.form-item-field-user-joined-cms--und-0-value .grippie{
	width: 398px;
}

/* ABOUT US PAGE */

.page-node-47425 #accordion, .page-node-2749 #accordion{
	margin-top: -90px;
}

/* Frontpage */

#block-boxes-frontpage-header-menu{
	width: 360px;
	list-style-type: none;
	margin-left: 608px;
	z-index: 10;
	margin-top:-380px;
	position: relative;
	margin-bottom: 50px;
}


#block-boxes-frontpage-header-menu li img{
	padding-top: 7px;
	padding-bottom: 7px;
	list-style: none;
}


#block-boxes-frontpage-header-menu li{
	list-style: none;
}

input#edit-submitted-saan-ka-nag-high-school-1.form-radio{
	margin-left: -80px;
}

div.form-item.form-type-radio.form-item-submitted-saan-ka-nag-high-school{
	margin-left:11px
}

div.region-inner.region-user-first-inner{
	margin-bottom: -10px;
	margin-top: -5px;
}

