/* This file will hold the main styles for your website. */

.html{
	/*background-color: #bebebe;*/
	/*background: url("/sites/checkmyschool.dev/themes/checkmyschool2013/images/bg.png");*/
	font-family: century gothic, arial, sans-serif;
	background-color: #003366;
}

#zone-content, #zone-postscript, #zone-footer, #zone-header, #zone-user, #zone-preface, #zone-branding, #zone-menu{
	background-color: #fff;
	border-left: #4C6DB0 solid 1px;
	border-right: #4C6DB0 solid 1px;
}

#zone-footer{
	display: none;
}

#zone-content{
	padding-bottom: 20px;
}

#region-branding{
	margin-left: 0px;
}

#region-menu, #block-nice-menus-1{
	background-color: #003366;
	margin-left: 0px;
}

#region-menu .main-menu a, #block-nice-menus-1 #nice-menu-1 a{
	color: #fff;
	text-decoration: none;
}

div#zone-postscript.zone.zone-postscript.clearfix.donate-now-wrapper{
	background-image: url("/sites/checkmyschool.dev/themes/checkmyschool2013/images/Postscript-Background.png");
}

#region-header-first{
	width: 960px;
	margin-left: 0px;
}

.Block-Latest-News-Anon-Page table{
	border: none;
}

.Block-Latest-News-Anon-Page td, .Block-Latest-News-Anon-Page th{
	width: 50%;
	vertical-align: top;
}

.Views-Page-News .views-field-title a, .Page-Issues .views-field-title a{
	color: #fff;
	text-decoration: none;
}


.Views-Page-News .views-field-field-teaser-thumb, .Views-Page-News .views-field-field-issue-image, .Views-Page-News .views-field-field-feedback-image {
	float: left;
	width: 120px;
	padding: 10px;
}


.Views-Page-News .views-field-body{
	float: right;
	width: 80%;
}

.Page-Issues .views-field-body{
	padding: 10px;
}

/* Feedback Page */
#boxes-box-box_feedback_page ul li{
	display: inline;
}

#boxes-box-box_feedback_page{
	padding-left: 192px;
}

#block-cms-embed-feedback-form #edit-field-school-ref{
	display: none;
}

#block-boxes-box-create-feedback-page-right ul li{
	display: inline;
	padding-left: 5px;
}

#block-boxes-box-create-feedback-page-right img{
	padding-left: 5px;
}

/* Login block on top */
/** Login Bar **/

#boxes-box-box_horizontal_user_login {
	width: 350px;
	float: right;
	display: inline;
	margin-top: -26px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#loginbar {width: 366px; float: right; height: 50px;}
#loginbar .form-actions {position: absolute; z-index: -99;}
#loginbar p { color: #fff; font-size: 1.1em; font-weight: bold;}

/*school page data */
#school-page-menu ul li{
	display: inline;
	padding: 1px;
}

#school-page-menu img:hover{
	opacity: 0.8;
}

.context-school .breadcrumb{
	display: none;
}

#school-page-menu{
	float: left;
	font-size: 15px;
	font-weight: bold;
	margin-left: 195px;
	margin-bottom: 70px;
}

.logged-in #school-page-menu{
	margin-left: -45px;	
}


.context-school #breadcrumb{
	width: 500px;
}

/* school Partners */
.context-partners {
	font-family: 'century gothic';
}

.context-partners h2{
	font-family: 'century gothic';
}

.context-partners .Block-Partners table{
	border: none;
}

