/* This file will hold styles that are loaded using the same media query as the normal grid. */

aside#region-sidebar-second.grid-3.region.region-sidebar-second.school-data-template-right-sidebar{
  float: right;
  margin-top: -10px;  
}

.school-data-template-main-content{
  margin-top: 15px;  
}

div#cms-message{
  background: #F8FFF0;
  border: 1px solid #BE7;
  height: 17px;
  padding: 5px;
  height: 40px;
}

.node-feedback .field-name-body{
  text-align: justify;
}

.node-feedback h2.node-title a{
  text-decoration: none;
}

.node-feedback h2.node-title {
  margin-bottom: 0px;  
}

#comment-form {
  padding: 10px;
  border: 1px solid grey;
}

.node-feedback .links{
  margin-top: 15px;
}

article .comment{
  border: 1px solid grey;
  padding: 10px;
  margin-top: 10px;
}

article .comment h3{
  margin-bottom: 0px;
}

article footer{
  margin-bottom: 10px;
}

.feedback-count{
  float: left;
}

.more-sms{
  float: right;
}

#block-cms-embed-sms .sms{
  max-height: 350px;
  overflow: scroll;
  padding-left: 25px;
  margin-left: -5px;
  text-align: left;
}

#block-views-view-feedback-comments-block{
  margin-top: 20px;
}

.Feedback-Page .views-row{
  min-height: 170px;
}

.Feedback-Page .feedback-image{
  float: left;
  padding-right: 10px;
}

.Block-Links .item-list ul li {
  list-style: disc;
  color: grey;
}
