/* This file will hold styles that are loaded using the same media query as
/* the narrow grid. */

#block-views-main-page-views-block .view-main-page-views {
	height: 300px;
	overflow: scroll;
	border: none;
}

#block-views-main-page-views-block .view-main-page-views table{
	border: none;
}
