/* This file will hold the main styles for your website. */

article{
  text-align: justify;
}

body {
  font-family: Segoe UI,Arial,Helvetica,sans-serif,"Segoe Print";
  background: #003366;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Segoe UI,Arial,Helvetica,sans-serif,"Segoe Print";
}

.logo-img{
  padding-top: 20px;
  padding-bottom: 0px;
}

#zone-footer{
/*  background-color: #009; */
  background: #569A13;
  height: 60px;  
  color: #fff;
}

#section-content {
  margin-top: -10px;
}

#zone-content{
  margin-top: 10px;
}

#zone-footer a{
  color: #fff;
}

#zone-menu{
/*  background-color: #009966; */
  background: #569A13;
  height: 30px;
  padding-top: 4px;
}

#zone-menu a{
  color: #fff;
  font-size: medium;
  text-decoration: none;
}

#zone-menu a:hover {
  color: #000;
}

#zone-menu a.active {
  color: #000;
}

/* login block */


#proceed-to-site, #login-to-site{
  background: url('images/proceed.png') no-repeat;
  height: 60px;
  width: 330px;
  padding: 15px 0px 0px 55px;
  font-size: large;
  font-weight: bold;
  margin-top: 30px;
  color: #fff;
 
}

#login-to-site{
  padding: 15px 0px 0px 90px;
}

#proceed-to-site a{
  color: #fff;
  text-decoration: none;
}

#proceed-to-site a:visited{
  text-decoration: none;
}

#proceed-to-site a:hover{
  text-decoration: underline;
}

.anon-landing-page #page-title, .anon-landing-page div.tabs.clearfix, .anon-landing-page .description, .anon-landing-page .field-multiple-drag, .anon-landing-page .tabledrag-toggle-weight-wrapper, .anon-landing-page .field-add-more-submit {
  display: none;
}

.anon-landing-page input{
  width: 300px;
}

.anon-landing-page table{
  border: 0px;
}

.anon-landing-page th{
  background: #009966;
  border-bottom: 0px;
  color: #fff;
}

.anon-landing-page div.form-item.form-type-textfield.form-item-field-volunteer-school-und-0-target-id{
  margin-left: 0px;
  padding: 0px;
}

.anon-landing-page #field-volunteer-school-add-more-wrapper .description{
  display: block;
  color: #fff;
}

.anon-landing-page #user-register-form, .anon-landing-page #user-login, .anon-landing-page #user-pass{
  background-color: #569A13;
  padding: 15px;
  width: 300px;
  color: #fff;
}

.anon-landing-page .username{
  display: block;
}

.anon-landing-page .form-submit{
  width: 150px;
  margin-left: 65px;  
}

/* login block end */

#zone-content {
  background: #ffffff;
  padding-top: 10px;
}

/* -------------------------------------------------------------- */

/* --------------------------- */
/*   Landing Page: About CMS   */
/* --------------------------- */

/* block: border and margin bottom */
#block-block-2 {
  padding: 25px 0 10px 0;
  border-bottom: 2px solid #000000;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #000099;
}

#block-block-2 p{
  margin-bottom: 35px;
}


/* block title: border bottom removed */
#block-block-2 h2.block-title {
  border-bottom: none;
}

/* ----------------------------- */
/*   Landing Page: Latest News   */
/* ----------------------------- */

/* block */
#block-views-frontpage-anon-context-block {
  margin-bottom: 10px;
}

/* block title */
.block-views-frontpage-anon-context-block h2.block-title {
  border-bottom: none;
  color: #7A7A7A;
}

/* views row: border bottom */
#block-views-frontpage-anon-context-block .Block-Latest-News-Anon-Page .views-row {
  border-bottom: 1px solid #7A7A7A;
  padding-bottom: 30px;
  margin-bottom: 5px;
}

/* views row last: border bottom removed */
#block-views-frontpage-anon-context-block .Block-Latest-News-Anon-Page .views-row-last {
  border-bottom: none;
}

/* views row: teaser image */
.Block-Latest-News-Anon-Page .latest-news-image-teaser{
  float: left;
  padding: 5px 5px 5px 0px;
}

/* views row: title */
.Block-Latest-News-Anon-Page .latest-news-title {
  /*color: #000099;*/
  color: #000000;
  font-size: large;
  font-weight: bold;
  margin-bottom: 5px;
}

.Block-Latest-News-Anon-Page .latest-news-teaser{
  margin-bottom: -15px;
}

/* views row: paragraph spacing */
.Block-Latest-News-Anon-Page .latest-news-teaser p {
  margin-bottom: 5px;
  text-align: justify;
}

.Block-Latest-News-Anon-Page .read-more{
  margin-top: 10px;
  margin-bottom: 15px;
  float: right;
}

.Block-Latest-News-Anon-Page .views-row{
  padding-bottom: 25px;
}

.Block-Latest-News-Anon-Page {
  /* border-top: 1px solid #000; */
}

.Block-Issue-Resolved .issue-image-thumb{
  text-align: center;
  padding: 5px 5px 5px 0px;
}

.Block-Issue-Resolved .Issue-Title{
  font-size: large;
  font-weight: bold;
}

.Block-Feedback .news-feedback-title{
  font-size: large;
  font-weight: bold;
}

.Block-Feedback .news-feedback-body{
  margin-bottom: 10px;
  padding-bottom: 0px;
  
}

.Block-Feedback .news-feedback-body p{
  margin-bottom: 10px;
}

.Block-Feedback .feedback-image{
  float: left;
  padding: 0px 5px 0px 0px;
}

.Block-Feedback .feedback-image:hover{
  padding: 5px 5px 5px 0px;
}

.Block-Feedback .views-row{
  margin-bottom: 10px;
  border-bottom: 1px solid #7A7A7A;
  min-height: 120px;
  padding-bottom: 30px;
  padding-top: 10px;
}

.Block-Feedback .views-row-last{
  border-bottom: 0px;
}

.Block-Feedback .username{
  font-weight: bold;
}

.Block-Feedback .block-feedback-delete, .Block-Feedback .block-feedback-edit, .Block-Feedback .block-feedback-view{
  font-size: 12px;
  padding-right: 5px;
  float:right;
}

.Block-Feedback .block-feedback-new-comment{
  font-size: 12px;
  float: right;
  padding-right: 5px;
}

.Block-Feedback  span a{
 text-decoration: none;
}

.Block-Feedback  span a:hover{
 text-decoration: underline;
}

/* -------------------------------------------------------------- */

/* ---------- */
/*   Header   */
/* ---------- */

/* header background */
#zone-branding{
/*  background-color: #009; */
  background: url("/sites/checkmyschool.dev/themes/checkmyschool/images/header-bg.jpg") no-repeat;
/*  height: 120px; */
  height: 134px;
}

/* header slideshow */
#block-views-header-block-header-slideshow {
  float: right;
  margin: -103px -10px 0 0;
}

/* header slideshow
#block-views-header-block-header-slideshow img {
  z-index: -1;
}
*/

/* CMS logo */
.branding-data img {
  margin-left: 15px;
  position: relative;
  z-index: 5;
}


/* -------------------------------------------------------------- */

/* ---------- */
/*   Footer   */
/* ---------- */

#zone-footer{
/*  background-color: #009; */
  background: #569A13;
  height: 65px;  
  color: #fff;
}

/* icons blocks */
#block-block-7 {
  float: left;
  margin-top: 10px;
}

/* icons hover */
#block-block-7 a:hover img {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

/* links blocks */
#block-block-8 {
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}

/* links */
#zone-footer a {
  text-decoration: none;
}

/* links hover */
#zone-footer a:hover {
  color: #000;
}



/* -------------------------------------------------------------- */

/* -------------------- */
/*   Main - Home Page   */
/* -------------------- */

/* map */
#block-block-4 {
  margin-top: 10px;
}

/* Feedback */
#block-views-main-page-views-block-feedback h2.block-title {
  border-bottom: none;
}

/* block border, margin, and padding */
#block-views-main-page-views-block /* Partners */
{
  border: 1px solid #7A7A7A;
  margin-top: 10px;
  padding: 0 10px 10px 10px;
}

/* block border, margin, and padding */
#block-views-main-page-views-block-feedback, /* Feedback */
#block-views-main-page-views-block-1, /* Photos */
#block-views-main-page-views-block-videos, /* Videos */
#block-views-main-page-views-block-3, /* Resolved Issues */
#block-views-69130cd74ae10a9251d00be73b9363e3,
#block-cms-embed-sms
{
  border: 1px solid #7A7A7A;
  margin-top: 20px;
  padding: 0 10px 10px 10px;
}

/* block border, margin, and padding */
#block-views-main-page-views-block-2 /* Links */
{
  border: 1px solid #7A7A7A;
  margin-top: 20px;
  padding: 0 10px 10px 10px;
}

#block-views-main-page-views-block-feedback .feedback-main-school-ref a{
  text-decoration: none;
  font-size: 14px;

}

#block-views-main-page-views-block-feedback .feedback-main-school-ref {
  font-size: 14px;
  padding-bottom: 5px;
}

/* block title: Feedback */
#block-views-main-page-views-block-feedback h2.block-title {
  background: #fff;
  width: 95px;
  border-bottom: none;
  margin-top: -15px;
  padding-left: 5px;
}

/* block: Partners logo */
#block-block-5 {
  margin-top: 10px;
}

#block-cms-embed-sms h2.block-title {
  background: #fff;
  width: 115px;
  border-bottom: none;
  margin-top: -15px;
  padding-left: 5px;
}

#block-cms-embed-sms ul{
  margin-left: 20px;
  list-style-image: url(images/cellphone.png);
  padding-top: 10px;
}

/* block title: Partners */
#block-views-main-page-views-block h2.block-title {
  background: #fff;
  width: 72px;
  border-bottom: none;
  margin-top: -15px;
  padding-left: 5px;
}

/* block title: Photos */
#block-views-main-page-views-block-1 h2.block-title {
  background: #fff;
  width: 63px;
  border-bottom: none;
  margin-top: -15px;
  padding-left: 5px;
}

/* block title: Videos */
#block-views-main-page-views-block-videos h2.block-title { 
  background: #fff;
  width: 60px;
  border-bottom: none;
  margin-top: -15px;
  padding-left: 5px;
}

/* block title: Links */
#block-views-main-page-views-block-2 h2.block-title {
  background: #fff;
  width: 50px;
  border-bottom: none;
  margin-top: -15px;
  padding-left: 5px;
}

/* Feedback block */
#block-views-main-page-views-block-feedback .view-display-id-block_feedback .Block-Feedback {
  border: none;
}

/* Resolved Issues: block */
#block-views-main-page-views-block-3 {
  padding-bottom: 0px;
}

/* Resolved Issues: block title */
#block-views-main-page-views-block-3 h2.block-title {
  background: #fff;
  width: 145px;
  border-bottom: none;
  margin-top: -15px;
  padding-left: 5px;
}

#block-views-69130cd74ae10a9251d00be73b9363e3 h2.block-title {
  background: #fff;
  width: 190px;
  border-bottom: none;
  margin-top: -15px;
  padding-left: 5px;
}

/* Resolved Issues: node titles */
#block-views-main-page-views-block-3 .Block-Issue-Resolved .Issue-Title {
  font-size: 13px;
  font-weight: normal;
  padding-bottom: 5px;
}

/* Resolved Issues: views row border bottom, padding, and margin */
#block-views-main-page-views-block-3 .Block-Issue-Resolved .views-row {
  border-bottom: 1px solid #7A7A7A;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

/* Resolved Issues: views row, removing border bottom, padding, and margin */
#block-views-main-page-views-block-3 .Block-Issue-Resolved .views-row-last {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/* Resolved Issues: node body */
#block-views-main-page-views-block-3 .Block-Issue-Resolved .views-field-body {
  font-size: 11px;
  margin-top: 5px;
}

/* Photos */
#block-views-main-page-views-block-1 .Block-Photos .views-row {
  margin-bottom: 10px;
}

.Block-Feedback {
/*  border: 1px solid #009966; */
  padding: 10px;
/*  height: 900px; */
  max-height: 1450px;
  overflow: scroll;
}

.Block-Feedback 


/*
.Block-Links .main-page-links{
  padding-bottom: 5px;
}
*/

/* Main Page: Links */
#block-views-main-page-views-block-2 .Block-Links .item-list ul {
  list-style-type: disc;
/*  margin-top: 10px;
  margin-bottom: 10px; */
}

/*
#block-views-main-page-views-block-2, #block-views-main-page-views-block-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
*/

h2.block-title{
  border-bottom: 2px solid #009966;
  margin-bottom: 2px;
}

article img{
  float: left;
  padding: 5px 5px 0px 0px;
}

section h1#page-title.title{
  margin-bottom: 0px;
  line-height: 40px;
}

.school-template-content h1#page-title.title{
  display: none
}

.field-name-field-photo-type-image, .field-name-field-issue-image {
  float: left;
  padding: 5px 5px 0px 0px;
}

.field-name-field-school-ref{
  padding-top: 5px;
}

.Block-School-Feedback {
  overflow: scroll;
}

.Block-School-Issues .Block-School-Issue-Image{
  float: left;
  padding-right: 5px;
  padding-top: 5px;
}

.Block-School-Feedback .Block-School-Feedback-Image {
  padding-right: 5px;
  padding-top: 5px;
  text-align: center;
  padding-bottom: 5px;
}

.Block-School-Feedback .Block-School-Feedback-Title, .Block-School-Issues .Block-School-Issue-Title{
  font-size: large;
  font-weight: bold;
}

.Page-School-Video .view-content h3, .Page-School-Partner .view-content h3, .Page-Photo .view-content h3, .Page-School-Documents .view-content h3{
  font-size: 36px;
  font-weight: bold;
}


/* -------------------------------------------------------------- */

/* ------------------------ */
/*   School Page: Sidebar   */
/* ------------------------ */

/* block border, margin, and padding */
#block-views-6f15f5f68f79f63df589179aa7616807, /* Feedback */
#block-menu-menu-school-menu /* School Menu */
{
  border: 1px solid #7A7A7A;
  margin-top: 25px;
  padding: 0 10px 10px 10px;
}

#school-page-menu /* School Menu */
{
  border: 0px solid #7A7A7A;
  margin-top: 25px;
  padding: 0 10px 0px 10px;
}

#school-page-menu ul{
  padding-left: 20px;
}

/* block title: Feedback */
#block-views-6f15f5f68f79f63df589179aa7616807 h2.block-title {
  background: #fff;
  width: 82px;
  border-bottom: none;
  margin-top: -15px;
  padding-left: 5px;
}

/* node titles: Feedback and School Issues */
#block-views-6f15f5f68f79f63df589179aa7616807 .Block-School-Feedback .Block-School-Feedback-Title,
#block-views-45239dcaceee99de69b93977a01e2d14 .Block-School-Issues .Block-School-Issue-Title {
  font-size: 13px;
  font-weight: normal;
}

/* block border, margin, and padding */
#block-views-45239dcaceee99de69b93977a01e2d14 /* School Issues */
{
  border: 1px solid #7A7A7A;
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 0 10px 10px 10px;
}

/* block title: School Issues */
#block-views-45239dcaceee99de69b93977a01e2d14 h2.block-title {
  background: #fff;
  width: 123px;
  border-bottom: none;
  margin-top: -15px;
  padding-left: 5px;
  padding-bottom: 0;
}

/* block title: School Issues */
#block-views-45239dcaceee99de69b93977a01e2d14 .Block-School-Issues .views-field-body p {
  margin-bottom: 0;
}

/* School Logo */
#block-cck-blocks-field-school-logo {
  margin-top: 10px;
}

/* School Menu block */
#block-menu-menu-school-menu .menu {
  padding-left: 10px;
}

/* links: School Menu */
#block-menu-menu-school-menu h2.block-title {
  background: #fff;
  width: 115px;
  border-bottom: none;
  margin-top: -15px;
  margin-left: -5px;
  padding-left: 5px;
}


/* -------------------------------------------------------------- */

/* ---------------- */
/*   Profile Tabs   */
/* ---------------- */

/*
.school-data-template .region-content-inner {
  border: 1px solide #7A7A7A;
}
*/

.Block-Data-School-Name .Block-Data-School-Name-Title{
  font-size: 36px;
  font-weight: bold;
}

.Block-Data-School-Issues .Block-Data-School-Issue-Title {
  font-weight: bold;
}

.Block-Data-School-Feedback .Block-Data-School-Feedback-Title {
  font-weight: bold;
}

.Block-Data-School-Issues .Block-Data-School-Issue-Image {
  float: left;
  padding: 5px;
}

.Block-Data-School-Feedback .Block-Data-School-Feedback-Image {
  float: left;
  padding: 5px;
}

.Block-Data-School-Feedback{
  max-height: 500px;
  overflow: scroll;
}

.school-data-template, .school-data-template-right-sidebar{
  margin-top: -50px;
}

.school-data-template table {
  width: 540px;
  margin-top: -100px;
}

.school-data-template ul.secondary li {
  padding: 5px;
  border-right: none;
}

.school-data-template-prefix {
  padding-top: 10px;
}


/* -------------------------------------------------------------- */

/* ----------------------- */
/*   School Profile page   */
/* ----------------------- */

/* main content: body */
#block-views-45239dcaceee99de69b93977a01e2d14 .view-school-views .views-field-body {
  font-size: 10px;
}

/* sidebar: School Issues (titles) */
#block-views-45239dcaceee99de69b93977a01e2d14 .Block-School-Issues .Block-School-Issue-Title {
  margin-bottom: 3px;
}

/* sidebar: School Issues (images) */
#block-views-45239dcaceee99de69b93977a01e2d14 .Block-School-Issues .Block-School-Issue-Image {
  margin-top: -3px;
}

/* sidebar: School Issues (rows) */
#block-views-45239dcaceee99de69b93977a01e2d14 .Block-School-Issues .views-row {
  border-bottom: 1px solid #7A7A7A;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

/* sidebar: School Issues (last row) */
#block-views-45239dcaceee99de69b93977a01e2d14 .Block-School-Issues .views-row-last {
  border-bottom: none;
  padding-bottom: 0;
}

.node-school {
  margin-bottom: 30px;
}


/* -------------------------------------------------------------- */

/* ------------- */
/*   News Page   */
/* ------------- */

/* News Updates: margin top */
#block-system-main {
  margin-top: 30px;
}

/* news: border bottom */
#block-system-main .views-row {
  border-bottom: 1px solid #7A7A7A;
  margin-bottom: 10px;
  padding: 0 15px 25px 0;
}

/* news: border bottom (last row) */
#block-system-main .views-row-last {
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

/* news: title */
#block-system-main .views-row .views-field-title {
  color: #000099;
  font-size: large;
  font-weight: bold;
  /* margin-bottom: 10px; */
}

/* news: date */
#block-system-main .views-row .views-field-created {
  font-size: 10px;
  margin: 3px 0 10px 0;
}

/* news: teaser thumbnail */
#block-system-main .views-row .views-field-field-teaser-thumb {
  float: left;
  margin: 5px 10px 0px 0;
}

/* news: paragraph spacing */
#block-system-main .views-row .views-field-body p {
  margin-bottom: 10px;
}

/* news: read more */
#block-system-main .views-row .views-field-view-node {
  float: right;
}

/* News Updates border */
.view-news-page-context, .Page-Taxonomy-Term, #sms-page {
  border: 1px solid #7A7A7A;
  padding: 20px 20px;
  margin-bottom: 10px;
}

#sms-page {
  max-height: 600px;
  overflow: scroll;
  padding-left: 30px;
}

/* News Updates block title */
.view-news-page-context .view-header{
  font-size: 18px;
  font-weight: bold;
  padding: 0 10px 0 5px;
  background: #fff;
  width: 123px;
  margin: -15px 0 0 -5px;
  padding-left: 5px;
  padding-bottom: 0;

}

/* search box */
#block-search-form {
  float: right;
  margin-top: -22px;
  z-index: 300;
}

#edit-search-block-form--2{
  width: 300px; 
}


/* -------------------------------------------------------------- */

/* ----------------- */
/*   News contents   */
/* ----------------- */

/* News: main block */
#block-system-main {
  margin-top: 0;
}

/* News: post date */
.node-news .submitted {
  margin-bottom: 10px;
}

/* News: image */
.node-news .field-name-field-teaser-thumb img {
  margin-right: 5px;
}

/* News: body */
.node-news .field-name-body {
  margin-bottom: 20px;
  padding-right: 30px;
}


/* -------------------------------------------------------------- */

/* ------------------ */
/*   Issue contents   */
/* ------------------ */

/* Issues: School reference */
.node-issue .field-name-field-school-ref {
  margin-bottom: 10px;
}

/* Issues: image */
.node-issue .field-name-field-issue-image img {
  margin-right: 5px;
}

/* Issues: body */
.node-issue .field-name-body {
  margin-bottom: 20px;
  padding-right: 30px;
}

/* Issues: status */
.node-issue .field-name-field-issue-status {
  margin-bottom: 20px;
}


/* -------------------------------------------------------------- */

/* --------------------- */
/*   Partners contents   */
/* --------------------- */

/* Partners: logo */
.node-partner .field-name-field-partner-logo img {
  margin-right: 5px;
}

/* Partners: body */
.node-partner .field-name-body {
  margin-bottom: 20px;
  padding-right: 20px;
}

/* Partners: School reference */
.node-partner .field-name-field-school-ref {
  margin: 20px 0;
}


/* -------------------------------------------------------------- */

/* ------------------ */
/*   Photo contents   */
/* ------------------ */

/* Photo: School reference */
.node-photo .field-name-field-school-ref {
  margin-bottom: 10px;
}

/* Photo: image */
.node-photo .field-name-field-photo-type-image {
  margin-right: 5px;
}

/* Photo: body */
.node-photo .field-name-body {
  margin-bottom: 20px;
  padding-right: 20px;
}


/* -------------------------------------------------------------- */

/* --------------------- */
/*   Feedback contents   */
/* --------------------- */

/* Feedback: post date */
.node-feedback .submitted {
  margin-bottom: 10px;
}

/* Feedback: image */
.node-feedback .field-name-field-feedback-image img {
  margin-right: 5px;
}

/* Feedback: body */
.node-feedback .field-name-body {
  padding-top: 5px;
  padding-right: 20px;
}

/* school page */
.school-data-template div.tabs.clearfix{
  position: absolute;
  margin-top: 50px;
  z-index: 100;
}

.school-data-template .Block-Data-School-Name-Title{
  margin-top: 40px;
 /* position: absolute;
  min-width: 500px;*/
  z-index: 200;
  letter-spacing: -0.05em;
}

.school-template-content .Block-Data-School-Name-Title {
    letter-spacing: -0.05em;
}

.school-photo-video-template .Block-Data-School-Name-Title{
  position: absolute;
  min-width: 500px;
  z-index: 200;
  letter-spacing: -0.05em;
}

.school-photo-video-template #block-system-main {
  margin-top: 50px;
}

.school-data-template #block-system-main {
  position: absolute;
  margin-top: 190px;
  z-index: 300;   
}

div#zone-content.zone.zone-content.clearfix.school-data-template-main-content.container-12{
  padding-top: 20px;
  min-height: 1150px;
}

.school-photo-video-left-side-bar .Block-Data-School-Logo{
  margin-top: 10px;
}

.Block-Forms-Documents .item-list ul li{
  margin-left: 2px;  
}

#zone-content{
  padding-bottom: 5px;
}

.school-template-content h2.block-title, .school-template-content .field-items{
  font-size: 14px;
  border-bottom: none;
  margin-bottom: 5px;
}

.school-template-content .field{
  border-bottom: 1px solid #569A13;
  padding-top: 10px;
  padding-bottom: 5px;
}

.Page-Photo td, .Page-Photo th, Page-School-Partner td, Page-School-Partner th {
  padding: 15px 15px;
  vertical-align: middle;
}

.Page-School-Video td, .Page-School-Video th{
  padding: 15px 45px;
  vertical-align: middle;
}

.Block-Aggregate-Issue-Status .Status-Title{
  font-size: 14px;
  font-weight: bold;
}

.Block-Aggregate-Issue-Status .Status-Title-Count{
  font-weight: bold;
  font-size: 20px;
  background-color: #569A13;
  padding: 5px 5px 5px 15px;
  color: #fff;
  border-bottom: 1px solid;
}

.Block-Aggregate-Issue-Status a{
  color: #fff;
  text-decoration: none;
}

.block-cck-blocks .block-title {
  display: none;
}

#no-data{
  margin-top: -100px;
}

#no-data-variance{
  margin-top: -150px;
}

.view-school-volunteers ul li{
  list-style: disc;
}

#block-views-5189b34623e730e9f76813e30c9dc3e9{
  margin-top: -5px;
}

.view-school-volunteers .username{
  display: block;
  padding-top: 5px;
}

#block-views-e79fa95b00177e362f46e08d1b4450f5{
  margin-top: 15px;
}


/* -------------------------------------------------------------- */

/* --------------------------- */
/*            nodes            */
/* --------------------------- */

.node .user-picture img {
  height: 35px;	
}

.node .submitted {
  font-style: italic;
  padding-bottom: 10px;
  padding-top: 10px;
}

.anon-latest-news .region-sidebar-first-inner{
  margin-left: 50px;
  width: 450px;
}

.search-results .search-info {
  display: none;
}

.Block-Feedback .feedback-date, .Block-Feedback .views-field-name, .Block-Feedback em{
  padding-bottom: 5px;
  font-size: 14px;
}

.Block-Feedback .feedback-field-separator{
  
}

#Feedback-Form-Block input#edit-title, #Feedback-Form-Block input#edit-field-school-ref-und-0-target-id, #Feedback-Form-Block .form-textarea-wrapper{
  width: 450px;
}


#Feedback-Form-Block .wysiwyg-toggle-wrapper, #Feedback-Form-Block #edit-body-und-0-format, #Feedback-Form-Block .vertical-tabs{
  display: none;
}

div#region-content.grid-7.region.region-content.school-data-template{
  height: 0px;
}

#block-user-online{
  margin-top: 10px;
}

#block-user-online p{
  margin-bottom: 5px;
}

#block-user-online .item-list ul li{
  margin: 0 0 0 0.5em;
}

#block-panels-mini-feedback-block-form h2.block-title {
  background: #f8fff0;
  padding: 5px;
  border: 1px solid #BE7;
}

#block-block-10 {
  background: #f8fff0;
  border: 1px solid #BE7;
  height: 17px;
  padding: 5px;
}

#block-panels-mini-feedback-block-form a{
  text-decoration: none;
}

#quicktabs-archive{
  padding: 10px;
}


#quicktabs-tabpage-main_page_tabs-1 .field-name-field-school-ref{
  padding-top: 0px;
}

#block-cms-embed-volunteer-menu-school .volunteer-school-tasks{
  padding-left: 25px;
  padding-top: 5px;
}

#block-cms-embed-volunteer-menu-school .volunteer-school-message, #block-cms-embed-sms .volunteer-school-message{
  padding: 5px;
  background: #415c9f;
  color: #fff;
}

#block-cms-embed-volunteer-menu-school .volunteer-school-message a{
  color: #fff;
}


#Feedback-Form-Block .form-textarea-wrapper{
  width: 250px;
}

#Feedback-Form-Block #edit-field-feedback-image {
  float: right;
  margin-right: 100px;
  width: 100px;
  z-index: 50;
  margin-top: -180px;
  
}

#Feedback-Form-Block #edit-field-feedback-image .description, #Feedback-Form-Block #edit-field-feedback-image #edit-field-feedback-image-und-0-upload-button {
  display: none;
}

#Feedback-Form-Block .form-submit{
  margin-top:10px;
}

#Feedback-Form-Block table{
  width: 50px;
}

#Feedback-Form-Block .form-file{
  width: 200px;
}

#Feedback-Form-Block .tabledrag-toggle-weight-wrapper{
  display: none;
}

.Page-CMS-Photos table{
  width: 680px;
}

.Page-CMS-Photos td{
  width: 120px;
  vertical-align: top;
}

#field-volunteer-other-school-values .edit-field-volunteer-other-school-und-0-target-id{
  width: 100%;
}

#add-button a{
  text-decoration: none;
  font-size: 12px;
}

#add-button {
  margin-top: 5px;
  margin-bottom: 5px;
}

#add-button img{
  float: left;
  padding-right: 2px;
  margin-top: -5px;
}

#block-boxes-block-reset-login-link{
  margin-top: 10px;
}

#edit-mollom-captcha {
  margin-top: 5px;
}

/* main page */
.main-page-left #block-views-main-page-views-block-2{
  margin-top: 70px;
}

.main-page-left #block-block-7 p{
  margin-bottom: 0px;
}

.main-page-right .volunteer-school-message{
  text-align: center;
}

.text-cms-mobile{
  display: inline;
  color: #415C9F;
}

.feedback-category{
  font-weight: bold;
  font-size: 20px;
  padding: 5px 5px 5px 15px;
}

#block-cms-feedback-analytics .feedback-analytics-inner{
  background-color: #d8d8d8;
  margin-left: 10px;
  margin-right: 10px;
}

#block-cms-feedback-analytics h2.block-title{
  background: white;
  width: 140px;
  border-bottom: none;
  margin-top: -15px;
  margin-left: 10px;
  padding-left: 5px;
}

#block-cms-feedback-analytics{
 border: 1px solid #7A7A7A;
}

#block-cms-feedback-analytics ul li{
  list-style: none;
  border-bottom: 1px solid white;
}

/* node feedback */

.node-feedback .field-name-field-feedback-image a:hover{
  background-color: grey;
}

.node-page-content-region h1#page-title.title{
  font-size: 25px;
}

#comments{
  display: none;
}

.Block-Feedback-Node-Comments .views-row{
  padding: 20px;
  border-bottom: 1px solid green;
}

/* CMS Map*/
#cms-map-inner{
clip: rect(330px 750px 1100px 0px);
position: absolute;
margin-top: -360px;
}

#cms-map{
  position: relative;
}
