#zone-user #block-search-form {
	width: 450px;
	display: inline;
}

#zone-user #block-search-form #search-block-form{
	margin-top: 10px;
}

#zone-user #interfacecontainerdiv {
	width: 300px;
	float: right;
	margin-right: -220px;
}

#zone-user div#interfacecontainerdiv.interfacecontainerdiv{
	margin-top: -40px;
	width:300px;
	margin-right: -170px;
	height: 50px;
}

#zone-user #block-block-12{
	margin-left: 835px;
	width: 200px;
	margin-top: -25px;
}

table#lr_providers{
	width: 300px;
}

a#lr_powered_text_link{
	display: none;
}