/*
  @file
  CSS Template for displaying CMS Maps
*/

#school-edit-gps-form{
	padding: 10px;
	border: solid 1px grey;
}

#form-gps{
	background-color: black;
}

#map-canvas{
	height: 640px;
	width: 550px;
	margin: 10px 0px 20px 0px;
}

#division, #region, #district{
	float: right;
	width: 300px;
}

#submit-map-query{
	float: left;
	margin-left: 180px;
	margin-top: 20px;
}

#form-map-school{
	width: 350px;
	float: right;
	margin-right: 40px;
}

 #map-instructions{	
	width: 300px;
	float: right;
	margin-right: 0px;
	margin-bottom: 30px;
	text-align: justify;
}

#map-instructions-image{
	margin-left: 0px;
	float: right;
	margin-right: -10px;
}

#map-instructions-image:hover{
	opacity: 0.8;
}