
#quicktabs-feedback_page a{
	font-size: 16px;;
}

#block-quicktabs-feedback-page ul.quicktabs-tabs.quicktabs-style-zen {
	background: none;
}

.Views-Feedbacks-Block .jcarousel-skin-default .jcarousel-item-horizontal {
	width: 250px;
}

.Views-Feedbacks-Block .jcarousel-container .jcarousel-container-horizontal{

}