#left-see-feedback {
	width: 350px;
	float: left;
	overflow-y: auto;
	/*min-width: 60%;*/
}

#tab-fedback .tab-fedback-item{
	display: inline;
	width: 200px;
}

#tab-fedback{
	padding-left: 10px;
}

#tab-fedback .tab-fedback-item a{
	text-decoration: none;
	padding: 5px;
	font-size: 16px;
	color: #fff;
}

#tab-fedback .tab-fedback-item a:link{
	text-decoration: none;
	background-color: grey;
}

#tab-fedback .tab-fedback-item a:hover {
	text-decoration: underline;
	background-color: #003366;
}

#tab-fedback li.tab-fedback-item.active a{
	padding: 5px;
	background-color: #003366;
}

#right-see-feedback {
	float: right;
	padding-top: 15px;
	padding-left: 10px;
	margin-right: 30px;
	width: 480px;
}

#see-feedback{
	padding: 20px;
	border: 1px solid grey;
	height: 500px;
	position: relative;
}


#resolve-form{
	font-size: 15px;
	font-family: century gothic, arial, sans-serif;
}

#resolve-form input#firstname, #resolve-form input#lastname{
	width: 250px;
}

#resolve-form input#firstname{
	margin-left: 5px;
}

#resolve-form input#lastname{
	margin-left: 3px;
}


#left-see-feedback h2{
	font-size: 22px;
}

#see-feedback .body{
	font-size: 14px;
}

#right-see-feedback img{
	padding-bottom: 20px;
}

.list-feedback li.row{
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 10px;

}

.list-feedback ul{
	padding-right: 20px;
}	


.list-feedback p{
	margin-bottom: 0px;
	font-size: 13px;
}

.list-feedback p.feedback-feedback{
	font-size: 15px;
}
/*
.scroll
{
    display: block;
    border: 1px solid gray;
    padding: 10px 0px 0px 0px;
    margin-top: 5px;
    width: 212px;
    height: 320px;
    overflow-y: scroll;
    background-color: white;
    margin-left: 15px;
}
*/

#block-cms-survey-results {
	width: 250px;
	float: right;
	padding-right: 5px;
	padding-top: 20px;
	font-family: 'century gothic', arial, sans-serif;
}

#block-cms-survey-results h2.block-title {
	font-family: 'century gothic', arial, sans-serif;
	font-size: 18px;
}

.Block-Feedback-Content table{
	min-height: 400px;
	font-size: 16px;
}

.Block-Feedback-Content table td{
	vertical-align: top;
}

#left-canvass{
	width: 400px;
	float: left;
	padding-right: 20px;
	padding-top: 10px;
	padding-left:20px;
}

#right-canvass{
	font-size: 16px;
	padding-top: 10px;
	float: right;
	width: 450px;
	margin-right: 20px;
}

.feedback-container{
	min-height: 490px;
	border: 1px solid grey;
	font-size: 16px;
	margin: 10px;
}

#left-canvass .school{
	font-weight: bold;
	font-size: 18px;
}

#left-canvass .school{
	font-weight: bold;
	font-size: 18px;
}

#left-canvass #feedback-body{
	padding-top: 10px;
}

#left-canvass {
	height: 380px;
	overflow: auto;
}

.page-cms-feedback ul.tabs.primary.clearfix a{
	font-size: 20px;
}

.page-cms-feedback h1#page-title{
	padding-left: 0px;
	padding-right: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

/* Feedback Page */
#right-canvass a {
	background-color: #003366;
	color: #fff;
	padding: 5px;
	text-decoration: none;
	float: right;
	margin-right: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#school-page-menu img#data.active,
#school-page-menu img#documents.active,
#school-page-menu img#photos.active,
#school-page-menu img#feedback.active,
#school-page-menu img#school.active{
	opacity: 1;
}

#school-page-menu img{
	opacity: 0.6;
}

#